{% extends 'base.html' %}
{% block content %}

    <h2>Login</h2>
    {% if error %}
        <div class="alert alert-danger">
            {{error}}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter your username" class="form-control mb-2">
        <input type="password" name="password" placeholder="Enter your password" class="form-control mb-2">
        <input type="submit" value="Submit" class="btn btn-primary">

    </form>

    <a href="{% url 'accounts:password_reset'%}">
        Forget the password?
    </a>
{% endblock %}